@import './variables';
// WORKERS/

.team-section {
    padding-top: 94px;
    padding-bottom: 92px;
    /* text-align: center; */
    }
    
    .team-list {
    display: flex;
    flex-direction: row !important;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    }
    
    .team-item {
    display: flex;
    }
    
    .team-item:not(:last-child) {
    margin-right: 24px;
    }
    
    /* .team-item-spealization, */
    .team-item {
    display: flex;
    flex-direction: column;
    
    font-size: 16px;
    font-weight: 400;
    line-height: 18.75px;
    letter-spacing: 0.03em;
    background-color: $color-design-white;
    border-radius: 0 0 4px 4px;
    box-shadow:$bg-social;
    }
    
    
    .team-name {
        font-weight: 400;
        font-size: 30px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        text-align: center;
    color: $color-design-white;
    padding-top: 163px;
    padding-bottom: 32px;
    }
    
    .team-position {
    color: $color-design-white;
    font-family: $text-main;
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.04em;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 62px;
    }

.team-list .team-item:nth-child(1) .menu-text-wrap{
    background-color: $bg-header-hero;
    border-radius: 24px;
}
.team-list .team-item:nth-child(2) .menu-text-wrap{
    background-color: $bg-beige-color;
    border-radius: 24px;
}
.team-list .team-item:nth-child(3) .menu-text-wrap{
    background-color: $bg-green-color;
    border-radius: 24px;
}
.section-products .container .section-title-main{
    padding-bottom: 42px;
}
.section-products .container .section-pink-title{
    padding-top: 124px;
}
.team-img{
    z-index: 2;
    margin-left: 40px;
}
.menu-text-wrap{
    z-index:0;
    margin-top: -100px;
    padding-right:45px ;
    padding-left: 44px;
}
.menu-white-button {
    border: 0px solid transparent;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $bg-btn-light;
    transition: background-color .25s linear;
}
.menu-white-button .vector-img{
    margin-left: auto;
    padding-top: 4px;
}
.menu-white-button{
    margin-bottom: 50px;
}