@import './variables';

.section-how-made {
  background-color: $bg-section;
  background-image: url(../images/milk-bg.png);
  background-repeat: no-repeat;
  background-position: center;

}

.section-how-made .container {
  padding-top: 129px;
}

.section-how-made .container .cow-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.section-pink-title {
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: center;
  color: #ffa5ba;
  padding-bottom: 15px;
}

.section-title-main {
  font-weight: 400;
  font-size: 58px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #d41443;
}

.about-main-text {
  padding-left: 74px;
}

.about-text {
  font-family: $text-main;
  font-weight: 500;
  font-size: 16px;
  line-height: 176%;
  letter-spacing: 0.04em;
  color: #000;
}

.about-main-text {
  padding-top: 106px;
}

.about-text {
  padding-bottom: 35px;
}

.about-description {
  font-family: $text-main;
  color: $color-description;
}

.marg-top {
  padding-top: 35px;
}

.about-button {
  margin-top: 35px;
}

.info-list-how {
  padding-top: 39px;

  @media screen and (min-width: 1280px) {
    padding-bottom: 139px;
    display: flex;
    align-items: flex-start;
  }
}

.info-item-how:first-child::before {
  content: ' ';
  display: block;
  background-image: url(/images/plant.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  fill: #ffa5ba;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.info-item-how:nth-child(2n)::before {
  content: ' ';
  display: block;
  background-image: url(/images/apple-bucket.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  fill: #ffa5ba;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.info-item-how:nth-child(3n)::before {
  content: ' ';
  display: block;
  background-image: url(/images/popsicle.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  fill: #ffa5ba;
  margin-bottom: 16px;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}

.info-item-how .how-made-info-numbers {
  text-align: left;
}
.info-item-how .how-made-info-text {
  text-align: left;
}

.how-made-info-text {
  padding-top: 15px;
  color: $color-design-black;
  font-family: $text-main;
  font-weight: 700;
font-size: 16px;
line-height: 176%;
letter-spacing: 0.02em;
}
.how-made-info-numbers{
  position: relative;
  margin-bottom: 2px;
  font-family: $text-secondary;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.143;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $color-design-main;

}