@import './variables';
// 
.contacts {
    padding: 48px 0 113px;
    margin: 0 auto;
    background-color: $bg-section;
    background-repeat: no-repeat;
    background-position: center center;
  
    @media screen and (max-width: 767px) {
      background: linear-gradient(
        to bottom,
        $color-design-white 172px,
        $bg-section 172px
      );
    }
  
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      padding: 69px 0 158px;
  
      background: linear-gradient(
        to bottom,
        $color-design-white 197px,
        $bg-section 197px
      );
    }
  
    @media screen and (min-width: 1280px) {
      padding: 92px 0 165px;
  
      @media screen and (min-device-pixel-ratio: 1),
        screen and (min-resolution: 96dpi),
        screen and (min-resolution: 1dppx) {
        background-image: url('../images/contacts_background/section_background.png'),
          linear-gradient(
            to bottom,
            $color-design-white 230px,
            $bg-section 230px
          );
      }
  
      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../images/contacts_background/section_background@2x.png'),
          linear-gradient(
            to bottom,
            $color-design-white 230px,
            $bg-section 230px
          );
  
    
        //  щоби фон був на все, а не тіки на зображення
        background-size: 1920px 384px, auto;
        background-position: center center, center top;
      }
    }
  }
  
  .contacts-item-title {
    background: $bg-beige-color;
    color: $color-design-white;
    text-transform: uppercase;
    display: inline-flex;
    padding: 0 25px;
    margin-bottom: 25px;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.04em;
    border-radius: 4px;
  
    @media screen and (min-width: 480px) and (max-width: 767px) {
      font-size: 14px;
    }
  
    @media screen and (min-width: 768px) {
      font-size: 16px;
      margin-bottom: 30px;
    }
  
    @media screen and (min-width: 1280px) {
      margin-bottom: 32px;
    }
  }
  
  .contacts-list {
    width: 100%;
    max-width: 380px;
    margin: 0 auto;
    font-weight: 500;
    margin-bottom: 54px;
  
    @media screen and (min-width: 768px) {
      display: flex;
      max-width: 768px;
      margin-bottom: 81px;
    }
  
    @media screen and (min-width: 1280px) {
      max-width: 1150px;
      margin-bottom: 86px;
    }
  }
  
  .contacts-item {
    max-width: 100%;
    margin-bottom: 20px;
    padding: 43px 20px;
    font-size: 12px;
    line-height: 1.86;
    background: $color-design-white;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
  
    &-black {
      color: $color-design-black;
    }
  
    &-grey {
      color: $color-description;
      line-height: 1.5;
    }
  
    &-pink {
      color: $color-subtitle;
    }
  
    &:nth-child(2n) {
      .contacts-item-title {
        background: $bg-green-color;
      }
    }
  
    &:last-child {
      margin-bottom: 0;
    }
    &-grey {
      line-height: 1.5;
    }
  
    .contacts-link {
      line-height: 1.5;
      text-decoration: none;
  
      @media screen and (min-width: 768px) {
        line-height: 1.83;
      }
    }
  
    @media screen and (min-width: 480px) {
      font-size: 14px;
    }
  
    @media screen and (min-width: 768px) {
      width: calc(700px / 3);
      margin-right: 20px;
      margin-bottom: 0;
      padding: 50px 32px 50px 31px;
  
      &:last-child {
        margin-right: 0;
      }
    }
  
    @media screen and (min-width: 1280px) {
      width: calc(1150px / 3);
      margin-right: 31px;
      padding: 51px 44px 51px 43px;
      font-size: 16px;
  
      &:last-child {
        margin-right: 0;
      }
    }
  }
  
  .contacts-item-header {
    li:first-child {
      margin-bottom: 10px;
  
      @media screen and (min-width: 768px) {
        margin-bottom: 14px;
      }
    }
  
    li:last-child {
      @media screen and (min-width: 768px) {
        line-height: 1.66;
      }
  
      @media screen and (min-width: 1280px) {
        line-height: 1.83;
      }
    }
  }
  
  .contacts-item-header::after,
  .contacts-item-body::after {
    display: block;
    width: 100%;
    margin: 25px 0;
    content: '';
    border-bottom: 1px solid $color-line-in-contacts;
  
    @media screen and (min-width: 768px) {
      margin: 30px 0;
    }
  
    @media screen and (min-width: 1280px) {
      margin: 32px 0;
    }
  }
  .contacts-item-body {
    li:nth-child(2n) {
      margin-bottom: 10px;
  
      @media screen and (min-width: 768px) {
        margin-bottom: 14px;
      }
    }
  
    li:last-child {
      margin-bottom: 0;
    }
  }
  
  .contacts-link {
    &-grey {
      color: $color-description;
    }
  }
  
  .contacts-modal-list {
    width: 100%;
    justify-content: center;
  
    @media screen and (min-width: 768px) {
      display: flex;
    }
  }
  
  .contacts-button.btn {
    &-dark,
    &-light {
      font-size: 16px;
      justify-content: center;
      border-radius: 22px;
      width: 161px;
      padding: 0 17px;
      height: 44px;
      margin: 0 auto;
    }
  
    &-dark {
      fill: $bg-btn-light;
  
      @media screen and (min-width: 768px) {
        padding: 0 34px;
        width: auto;
      }
  
      @media screen and (min-width: 1280px) {
        padding: 0 37px;
        width: auto;
      }
    }
  
    &-light {
      fill: $bg-btn-dark;
  
      @media screen and (min-width: 768px) {
        padding: 0 41px;
        width: auto;
      }
  
      @media screen and (min-width: 1280px) {
        padding: 0 44px;
        width: auto;
      }
    }
  }
  
  .contacts-modal-item {
    &:first-child {
      margin-bottom: 10px;
  
      @media screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-right: 15px;
      }
    }
  }
  .contacts-modal-item
  svg{
padding-top: 8px;
  }
  .contacts-arrow {
    display: block;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    margin-top: 2px;
  }
  .vector-img-white,
  .location-button{
    fill: $color-design-white;
  }
