@import 'variables';
body {
    font-family: "Titan One", sans-serif;
}

.main-container {
    width: 1280px;
    margin: 0 auto;
}

.container {
    width: 1050px;
    align-self: center;
    align-items: center;
    outline: 1px dotted transparent;//outline for review of section or element
    margin: 0 auto;
}

.flex {
    display: flex;
    flex-direction: row;
    list-style: none;
    outline: 1px dotted transparent;//outline for review of section or element
}
.white-button{
    position: relative;
    font-family: 'DM sans';
    font-weight: 400;
    font-size: 14px;

    border: 0px solid transparent;
    border-radius: 22px;
    background-color:$bg-btn-light;
    color: $color-design-main;
    padding: 12px 37px;
}
// .white-button:hover{
//     background-color:$bg-btn-dark-hover;
//     color: $bg-btn-light;
// }

.red-button{
    position: relative;
    font-family: 'DM sans';
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    border: 0px solid transparent;
    border-radius: 22px;
    background-color:$bg-btn-dark-hover;
    color: $bg-btn-light;
    padding: 14px 37px;
}